/* Variables */
:root {

}

/* Global css */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--gray2);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

/* Style */

/* navbar */


/* Header */


/* article */


/* Footer */
